<!DOCTYPE html>
<html>
    <head>
        <!-- <link rel="stylesheet" href="http://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
        <body>
            <div class="row">
                <div class="col-xs-4">
            <div class="textpos">
                <div style="display:inline;">
                    <p>PARENT COPY<img src="blocks.png"></p>
                </div>
            </div>
       
            <div>
            
            <h3 class="font-weight-bold text-center textpos1" >CUSTOMER CODE: BUILD</h3>
            <h5 class="text-center">PAYABLE TO ANY MEEZAN BANK BRANCH PAKISTAN</h5>
            </div>
                 
            <table class=" textmargin table table-borderless">
                <tbody>
                  <tr>
                    <th scope="row">NAME:</th>
                    <td>Syed Ahmed</td>
                  </tr>
                  <tr>
                    <th scope="row">FATHER'S NAME:</th>
                    <td>Taha Ahmed</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">GRADE:</th>
                    <td >VII</td>
                  
                  </tr>
                  <tr>
                    <th scope="row">ROLL NO:</th>
                    <td >12</td>
                 
                  </tr>
                  <tr>
                    <th scope="row">VOUCHER NO:</th>
                    <td >Larry the Bird</td>
                   
                  </tr>
                  <tr>
                    <th scope="row">FEE PERIOD:</th>
                    <td >Larry the Bird</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">ISSUE DATE:</th>
                    <td >Larry the Bird</td>
              
                  </tr>
                  <tr>
                    <th scope="row">DUE DATE:</th>
                    <td >Larry the Bird</td>
                    
                  </tr>
                </tbody>
              </table>
             
            <div class="tablemargin">
                <table class="table">
                    <thead>
                      <tr>
                        <th class="text-center" scope="col">PARTICULER</th>
                        <th scope="col">AMOUNT</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Tution FEE</th>
                        <td>Mark</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">FIELD TRIP CHARGES</th>
                        <td>Jacob</td>
                      </tr>
                      <tr>
                        <th scope="row">UNIFORM CHARGES</th>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <th scope="row">BOOKS</th>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <th scope="row">ARREAS</th>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <th scope="row">ADVANCE TAX 5%</th>
                        <td>Larry</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="textpos">
                <div style="display:inline;">
                    <p>PARENT COPY<img src="blocks.png"></p>
                </div>
            </div>
       
            <div>
            
            <h3 class="font-weight-bold text-center textpos1" >CUSTOMER CODE: BUILD</h3>
            <h5 class="text-center">PAYABLE TO ANY MEEZAN BANK BRANCH PAKISTAN</h5>
            </div>
                 
            <table class=" textmargin table table-borderless">
                <tbody>
                  <tr>
                    <th scope="row">NAME:</th>
                    <td>Syed Ahmed</td>
                  </tr>
                  <tr>
                    <th scope="row">FATHER'S NAME:</th>
                    <td>Taha Ahmed</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">GRADE:</th>
                    <td>VII</td>
                  
                  </tr>
                  <tr>
                    <th scope="row">ROLL NO:</th>
                    <td >12</td>
                 
                  </tr>
                  <tr>
                    <th scope="row">VOUCHER NO:</th>
                    <td>Larry the Bird</td>
                   
                  </tr>
                  <tr>
                    <th scope="row">FEE PERIOD:</th>
                    <td>Larry the Bird</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">ISSUE DATE:</th>
                    <td>Larry the Bird</td>
              
                  </tr>
                  <tr>
                    <th scope="row">DUE DATE:</th>
                    <td>Larry the Bird</td>
                    
                  </tr>
                </tbody>
              </table>
             
            <div class="tablemargin">
                <table class="table">
                    <thead>
                      <tr>
                        <th class="text-center" scope="col">PARTICULER</th>
                        <th scope="col">AMOUNT</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Tution FEE</th>
                        <td>Mark</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">FIELD TRIP CHARGES</th>
                        <td>Jacob</td>
                      </tr>
                      <tr>
                        <th scope="row">UNIFORM CHARGES</th>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <th scope="row">BOOKS</th>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <th scope="row">ARREAS</th>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <th scope="row">ADVANCE TAX 5%</th>
                        <td>Larry</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="textpos">
                <div style="display:inline;">
                    <p>PARENT COPY<img src="blocks.png"></p>
                </div>
            </div>
       
            <div>
            
            <h3 class="font-weight-bold text-center textpos1" >CUSTOMER CODE: BUILD</h3>
            <h5 class="text-center">PAYABLE TO ANY MEEZAN BANK BRANCH PAKISTAN</h5>
            </div>
                 
            <table class=" textmargin table table-borderless">
                <tbody>
                  <tr>
                    <th scope="row">NAME:</th>
                    <td>Syed Ahmed</td>
                  </tr>
                  <tr>
                    <th scope="row">FATHER'S NAME:</th>
                    <td>Taha Ahmed</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">GRADE:</th>
                    <td >VII</td>
                  
                  </tr>
                  <tr>
                    <th scope="row">ROLL NO:</th>
                    <td >12</td>
                 
                  </tr>
                  <tr>
                    <th scope="row">VOUCHER NO:</th>
                    <td>Larry the Bird</td>
                   
                  </tr>
                  <tr>
                    <th scope="row">FEE PERIOD:</th>
                    <td>Larry the Bird</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">ISSUE DATE:</th>
                    <td >Larry the Bird</td>
              
                  </tr>
                  <tr>
                    <th scope="row">DUE DATE:</th>
                    <td>Larry the Bird</td>
                    
                  </tr>
                </tbody>
              </table>
             
            <div class="tablemargin">
                <table class="table">
                    <thead>
                      <tr>
                        <th class="text-center" scope="col">PARTICULER</th>
                        <th scope="col">AMOUNT</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Tution FEE</th>
                        <td>Mark</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">FIELD TRIP CHARGES</th>
                        <td>Jacob</td>
                      </tr>
                      <tr>
                        <th scope="row">UNIFORM CHARGES</th>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <th scope="row">BOOKS</th>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <th scope="row">ARREAS</th>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <th scope="row">ADVANCE TAX 5%</th>
                        <td>Larry</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
        </div>
       
            <script src="http://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
            <script src="http://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        </body>
 
</html>